.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 4rem;
  max-width: 1280px;
}

.flex-between > div {
  width: 33%;
  padding: 2rem;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .flex-between > div {
    padding: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .flex-between > div {
    width: 100%;
  }
}
