* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 

	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);

  font-family: 'Raleway', sans-serif;
}

li {
  margin-bottom: 0.5rem;
}

/* Menu styles */
.top-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

.logo {
  margin: 2rem 0 0 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.sub-logo {
  margin-left: 0.5rem;
  letter-spacing: 0.1rem;
}
.logo a, .sub-logo a {
  color: #000000;
  text-decoration: none;
}

.lang-btns {
  margin: 1rem 0 0 2rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: 1280px;
  margin: auto;
	text-align: center;
}

.btn{
  margin-left: 0.4rem;
  color:#1b1b1b;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 7px 20px 10px 20px;
  text-decoration:none;
  letter-spacing:2px;
}

.btn:hover, .active{
  border:none;
  color:#1b1b1b;
  background-color: #d3d3d3;
}

.lang {
  margin-left: 0.1rem;
  font-size: 1rem;
  padding: 3px 7px 5px 7px;
}

.sub-menu {
  margin-top: 0.4rem;
  padding: 0.5rem 0 2rem 0;
  line-height: 1.2rem;
}

.sub-menu a {
  color: lightgray;
  text-decoration: none;
}

.sub-menu:hover a {
  color: #999;
  font-weight: bold;
}

.sub-menu a:hover {
  color: #1b1b1b;
}


@media screen and (min-width: 1025px) {
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    margin: 1rem 0 0 0.5rem;
  }

  nav {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .logo {
    margin: 1rem 0 0 0.5rem;
  }

  nav {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .nav-button {
    margin-bottom: 1.75rem;
  }

  .sub-menu {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .nav-button {
    width: 50%;
    margin-bottom: 1.75rem;
  }
}

@media screen and (max-width: 426px) {
  .logo {
    margin: 1rem 0 0 0.5rem;
  }

  .sub-menu {
    display: none;
  }

  .btn{
    padding: 7px 10px 10px 10px;
  }

  .lang {
    padding: 10px 8px 12px 12px;
  }

  .lang-btns {
    margin: 0.5rem 0 0 1rem;
  }
  .lang-btns a {
    display: block;
  }

  nav {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
}
