h2 {
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between a {
  color:#999;
  font-weight: bold;
  text-decoration:none;
}
.flex-between a:hover {
  color:#1b1b1b;
}

.download {
  justify-content: space-evenly;
  text-align: center;
}

.resume {
  max-width: 1280px;
  margin: auto;
  margin-bottom: 4rem;
  padding: 0 1rem;
}
